.modalGreyScreen{
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.95);
    position: fixed;
    top: 0%;
    left: 0%;
}

.modalContainer{
    background-color: #D9D9D9;
    border-radius: 20px;
    border: solid black;
    border-width: 1px;
    height: auto;
    width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding-bottom: 20px;
    position: relative;
}

.modalHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    user-select: none;
    margin-left: 5%;
}

.modalClose{
    margin-right: 5%;
    background-color: transparent;
    border: none;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.inputFieldsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.halfinputFieldsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.fullInputField{
    width: 80%;
    border: none;
    border-radius: 20px;
    background-color: white;
    height: 38px;
    padding-left: 3%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size:x-large;
}