.filterName{
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    user-select: none;
}

.filterIcon{
    margin-left: 3px;
    vertical-align: middle;
    user-select: none;
}