@import 'src/styles/variables';

.fieldContainer{
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.inputLabel{
    position: relative;
    color: white;
    font-family: Lato, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    user-select: none;
}

.inputField{
    margin-top: 10px;
    padding: 3px;
    padding-left: 20px;
    font-size: 100%;
    height: 30px;
    width: 90%;
    border-radius: 15px;
    border: none;
    background-color: $gray;
    font-family: Lato, Arial, sans-serif;
}

.inputField:focus{
    outline: none;
}