.container{
    position: relative;
    width: 10vw;
    height: 3vw;
    padding: 0 2vw 0 2.5vw;
    text-align: center;
    cursor: pointer;

    @media (max-width: 1060px) {
        width: 100px;
        height: 36px;
        padding: 0 25px 0 27px;
    }

    &::before{
        content: "";
        color: white;
        border-radius: 100%;
        height: 3vw;
        width: 3vw;
        position: absolute;

        display: block;
        transition: border-radius 0.4s ease, width 0.4s ease;
        overflow: hidden;

        @media (max-width: 1060px) {
            height: 40px;
            border-radius: 100px;
            width: 130px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &:hover::before{
        border-radius: 100px;
        width: 10vw;
        transition: border-radius 0.4s ease, width 0.4s ease-out;

        @media (max-width: 1060px) {
            width: 130px;
        }
    }
    &:hover .innerCircle{
        transform: scale(0.6) translate(150%, -90%);
        transition: transform 0.5s ease;

        @media (max-width: 1060px) {
            transform: scale(0.6) translate(190%, -67%);
        }
    }
    &:hover .arrow{
        opacity: 0;
    }
    background-color: transparent;
}

.greyContainer{
    &::before{
        background-color: #D9D9D9;
    }
    &:hover .buttonText{
        color: black;
        transform: translate(-40%, -50%);
        transition: transform 0.3s ease;
        @media (max-width: 1060px) {
            transform: translate(-20%, -30%);
        }
    }
    .buttonText{
        color: white;
        @media (max-width: 1060px) {
            color: black;
        }
    }
    &:hover .innerCircle{
        background-color: black;
    }
}

.blackContainer{
    &::before{
        background-color: black;
    }
    &:hover .buttonText{
        color: white;
        transform: translate(-40%, -50%);
        transition: transform 0.3s ease;
        @media (max-width: 1060px) {
            transform: translate(-20%, -30%);
        }
    }
    .buttonText{
        color: black;
        @media (max-width: 1060px) {
            color: white;
        }
    }
    &:hover .innerCircle{
        background-color: white;
    }
}

.innerCircle{
    position: absolute;
    background-color: transparent;
    left: 1vw;
    top: 50%;
    width: 2vw;
    height: 2vw;
    transform: translate(91%, -50%);
    transition: transform .7s ease;
    display: inline-block;
    border-radius: 100%;
    border: solid;
    border-width: 1px;

    @media (max-width: 1060px) {
        left: 7%;
        top: 50%;
        width: 20px;
        height: 20px;
        transform: translate(50%, -45%);
    }
}

.arrow{
    position: absolute;
    top: 15%;
    width: 70%;
    height: 70%;
    margin: auto;
    position: relative;
    opacity: 1;
    transform: translateX(0);
    transition: all .7s var(--expoOut);
    will-change: transform;
}

.buttonText{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    font-family: Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    user-select: none;

    @media (max-width: 1060px) {
        top: 50%;
        transform: translate(-35%, -40%);
    }
}